{% extends "layaout.html" %}

{% block body %}


<div class="container text-left text-light  ">
    <h1 class="h4 fw-bold">Resultado de busqueda "ven" </h1>
</div>

<div class="container w-75 p-4">
    <div class="row bg-light pt-2 pb-2 rounded-3 w-auto ">
        <div class="col-2  ps-5">
            <img src=" {{ url_for('static', filename="img/venom.jpg")}}" alt="" width="110" height="150">
        </div>
        <div class="col-3  pt-4 pb-2 fw-bold">
            <p>
                Venom
            </p>
            <p>
                Estreno: Octubre 2021
            </p>
            <p>
                Genero: Terro
            </p>
        </div>
        <div class="col-3  pt-4 pb-2 fw-bold">
            <p>
                Duracion: 180 min
            </p>
            <p>
                Clasificacion:
            </p>
            <p>
                Mayores de 15 años
            </p>
        </div>
        <div class="col-1  pt-4 pb-2 fw-bold">

            <i class="bi bi-box-arrow-up-right display-6"></i>
        </div>
        </div>
    </div>
</div>
<div class="container w-75 p-4">
    <div class="row bg-light pt-2 pb-2 rounded-3 ">
        <div class="col-2  ps-5">
            <img src=" {{ url_for('static', filename="img/maligno.jpg")}}" alt="" width="110" height="150">
        </div>
        <div class="col-3  pt-4 pb-2 fw-bold">
            <p>
                Maligno
            </p>
            <p>
                Estreno: Julio 2021
            </p>
            <p>
                Genero: Terro
            </p>
        </div>
        <div class="col-3  pt-4 pb-2 fw-bold">
            <p>
                Duracion: 150 min
            </p>
            <p>
                Clasificacion:
            </p>
            <p>
                Mayores de 15 años
            </p>
        </div>
        <div class="col-1  pt-4 pb-2 fw-bold">

            <i class="bi bi-box-arrow-up-right display-6"></i>
        </div>
        </div>
    </div>
</div>
<div class="container w-75 p-4">
    <div class="row bg-light pt-2 pb-2 rounded-3 ">
        <div class="col-2  ps-5">
            <img src=" {{ url_for('static', filename="img/Marvel.png")}}" alt="" width="110" height="150">
        </div>
        <div class="col-3  pt-4 pb-2 fw-bold">
            <p>
                Shang-Chi y la leyenda
            </p>
            <p>
                Estreno: Octubre 2021
            </p>
            <p>
                Genero: Terro
            </p>
        </div>
        <div class="col-3  pt-4 pb-2 fw-bold">
            <p>
                Duracion: 180 min
            </p>
            <p>
                Clasificacion:
            </p>
            <p>
                Mayores de 15 años
            </p>
        </div>
        <div class="col-1  pt-4 pb-2 fw-bold">

            <i class="bi bi-box-arrow-up-right display-6"></i>
        </div>
        </div>
    </div>
</div>


{% endblock %}